<!DOCTYPE HTML>

<html lang="eng">

<head>
    <title>sign up</title>

</head>
<body>
<form method="post">
    <label for="First_name">First name
        <input type="text" placeholder="Enter your first name" name="First_name">
    </label><br>
    <label for="Last_name">Last name
        <input type="text" name="Last_name" placeholder="Enter your last name">
    </label><br>
    <label for="email">Email
        <input type="text" name="email" placeholder="Enter your email address">
    </label><br>
    <label for="contactNo">Contact No
        <input type="number" name="contactNo" placeholder="Enter your email address">
    </label><br>
    <label for="password">Password
        <input type="text" name="password" placeholder="Enter your password">
    </label><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
