<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome to home page</p>
    <button><a href="/login">Login customer</a> </button>
    <button><a href="/login-employee">longin employee</a> </button>
  </body>
</html>
