<!DOCTYPE HTML>

<html lang="eng">

<head>
    <title>log in </title>

</head>
<body>
<form method="post">
    <label for="email">Email
        <input type="text" name="email" placeholder="Enter your email address">
    </label><br>
    <label for="password">Password
        <input type="password" name="password" placeholder="Enter your password">
    </label><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
