<!Doctype Html>
<html lang="en">

<head>
    <title>Upload pic</title>

</head>
<body>

  <form method="post" enctype="multipart/form-data" action="/profilePic">

      <label>Upload Pic</label>
      <input type="file" name="file">
      <button type="submit">upload</button>
  </form>

</body>

</html>