<!DOCTYPE HTML>

<html lang="eng">

<head>
    <title>sign up</title>

</head>
<body>
    <form method="post">
        <label for="firstName">First name
            <input type="text" placeholder="Enter your first name" name="firstName">
        </label><br>
        <label for="lastName">Last name
            <input type="text" name="lastName" placeholder="Enter your last name">
        </label><br>
        <label for="email">Email
            <input type="text" name="email" placeholder="Enter your email address">
        </label><br>
        <label for="password">Password
            <input type="text" name="password" placeholder="Enter your password">
        </label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
